<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Dialog Package">
            <directory suffix="Test.php">tests/Dialog/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Dialog/</directory>
        </whitelist>
    </filter>

    <php>
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
