<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Dialog Package">
            <directory suffix="Test.php">tests/Dialog/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Dialog/</directory>
        </whitelist>
    </filter>

    <php>
        <server name="REMOTE_ADDR" value="X-IP" />
	<server name="SERVER_NAME" value="X-Server" />
	<server name="REQUEST_METHOD" value="X-Method" />
	<server name="REQUEST_URI" value="X-URI" />
	<server name="HTTP_REFERER" value="X-Referer" />
	<server name="HTTP_USER_AGENT" value="X-User-Agent" />
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>
